* {
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
  color: grey;
}

body {
  background-color: #c6d47b;
}

main {
  margin: 0 auto;
  max-width: 1400px;
}

h1 {
  text-align: center;
  font-size: 350%;
  color: #e6e2e2;
}
h2 {
  text-align: center;
  margin: 2%;
}

h3 {
  color: grey;
  font-weight: bold;
  font-size: 125%;
  padding: 2px;
  margin: 1%;
  text-align: center;
}

p {
  color: grey;
  font-weight: bold;
  font-size: 100%;
  padding: 2px;
  margin: 1%;
  text-align: center;
}

ul{
  padding-left: 0;
}
ul li {
  display: inline-block;
  font-size: 200%;
}

footer {
  position: absolute;
  bottom: 0;
  font-size: 50%;
}

button {
  background: green;
  font-size: 100%;
  width: 23%;
  padding: 0;
  height: 100%;
  color: white;
}

input {
  font-size: 100%;
  color: black;
  width: 50%;
  padding: 0;
  height: 10%;
  margin: 1% 0 2% 0;
}

.playerArea {
  background-color: #e9f1c3;
  display: block;
  min-width: 100px;
  height: 500px;
  position: relative;
}

.player {
  background-color: inherit;
  display: block;
  top: 300px;
  width: 100px;
  height: 100px;
  position: absolute;
}

.foodArea {
  background-color: #e9f1c3;
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
}
.food {
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  width: 100px;
  height: 100px;
  left: 600px;
  top: 200px;
  position: absolute;
}

.avocado {
  background-image: url('../images/avocadoImage.png');
  background-color: inherit;
}

.bakedBeans {
  background-image: url('../images/bakedBeansImage.png');
  background-color: inherit;
}

.left {
  flex-grow: 5;
  display: flex;
  border-right: solid 1px green;
}

.right {
  flex-grow: 1;
}

.scoreboard {
  border-bottom: solid 1px green;
}


.scores {
  border-bottom: solid 1px green;
}

.faces {
  font-size: 600%;
}

.house {
  font-size: 50%;
  text-align: center;
  height: 120px;
}

.instructions {
  position: absolute;
  margin: 0 auto;
  top: 15%;
  left: 15%;
  width: 70%;
  border: solid 5px green;
  background-color: #e9f1c3;
  color: grey;
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  padding: 2%;
}

p.instructionsDetail {
  color: grey;
  text-align: center;
  font-size: 55%;
  font-weight: normal;
}

.youLose {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  left: 25%;
  width: 40%;
  padding: 1%;
  border: solid 5px green;
  background-color: #e9f1c3;
  color: grey;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
  display: none;
}

.youWin {
  position: absolute;
  margin: 0 auto;
  top: 30%;
  left: 25%;
  padding: 1%;
  width: 40%;
  border: solid 5px green;
  background-color: #e9f1c3;
  color: grey;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
  display: none;
}

.playAgainButton {
  width: 40%;
  height: 20%;
}

p.youLoseMessage {
  margin: 0 auto;
  color: grey;
  text-align: center;
  font-size: 100%;
  font-weight: normal;
  position: relative;
}

.hide {
  display: none;
}

.playerName {
  color: grey;
  font-size: 200%;
  font-weight: bolder;
}

.start {
  position: absolute;
  left: 40%;
  bottom: 5%;
}

.leaderboardHeading {
  color: grey;
  font-weight: bold;
}
.leaderboard {
  font-size: 50%;
}
.highScores {
  font-size: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: grey;
}

.message {
  display: none;
}

.flex {
  display: flex;
  background-color: #e9f1c3;
  border: solid 3px green;
}


@media screen and (orientation: portrait) {

  .wrapper {
    display: none;
  }

  .message {
    display: inline;
  }
}
@media screen and (max-width: 1000px) and (orientation: landscape) {

  main {
    max-width: 800px;
  }

  h1 {
    display: none;
  }

  .instructions {
    top: 0;
  }
}
