* {
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
  color: white;
  border: solid 2px red;
}

body {
  background-color: #c6d47b;
}

nav {
  height: 200%;
}

main {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 350%;
}

p {
  color: white;
  font-weight: bold;
}

ul li {
  display: inline-block;
  font-size: 200%;
}

footer {
  position: absolute;
  bottom: 0;
}

aside {
  width: 200px;
}

button {
  background: green;
  border-radius: 10%;
  float:  right;
  font-size: 200%;
}

.gameArea {
  background-color: grey;
  display: block;
  width: 800px;
  height: 500px;
  position: relative;
  border-color: green;
}

.playerArea {
  background-color: white;
  display: block;
  width: 100px;
  height: 400px;
  position: absolute;
  float: left;
}

.player {
  background-color: white;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
}

.foodArea {
  background-color: white;
  display: block;
  width: 700px;
  height: 400px;
  position: absolute;
  margin-left: 100px;
  float: right;
}
.food {
  background-color: white;
  background-size: 100%;
  display: block;
  width: 100px;
  height: 100px;
  left: 600px;
  top: 200px;
  position: absolute;
}

.avocado {
  background-image: url('/Users/matthewwallis/development/first-app/images/avocadoImage.jpg');
}

.bakedBeans {
  background-image: url('/Users/matthewwallis/development/first-app/images/bakedBeansImage.jpg');
}

.left {
  float: left;
  border: solid 3px green;
}

.right {
  float: right;
  border: solid 3px green;
}

.scoreBoard {
  border: solid 3px green;
}

.faces {
  font-size: 600%;
}

.house {
  font-size: 50%;
  text-align: center;
}
