* {
  box-sizing: border-box;
  font-family: 'Poiret One', cursive;
  color: white;
  /*border: solid 2px red;*/
}

body {
  background-color: #c6d47b;
}

nav {
  height: 200%;
}

main {
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 350%;
  color: #e6e2e2;
}
h2 {
  text-align: center;
  margin: 2%;
}

h3 {
  color: #e6e2e2;
  font-weight: bold;
  font-size: 125%;
  padding: 2px;
  margin: 1%;
  text-align: center;
}

p {
  color: white;
  font-weight: bold;
  font-size: 100%;
  padding: 2px;
  margin: 1%;
  text-align: center;
}

ul li {
  display: inline-block;
  font-size: 200%;
}

footer {
  position: absolute;
  bottom: 0;
}

aside {
  width: 200px;
}

button {
  background: green;
  font-size: 100%;
  width: 23%;
  padding: 0;
  height: 40px;
}

.gameArea {
  background-color: grey;
  display: block;
  width: 800px;
  height: 500px;
  position: relative;
  border-color: green;
}

.playerArea {
  background-color: #f9dcae;
  display: block;
  width: 100px;
  height: 500px;
  position: absolute;
  float: left;
}

.player {
  background-color: inherit;
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
}

.foodArea {
  background-color: #f9dcae;
  display: block;
  width: 700px;
  height: 500px;
  position: absolute;
  margin-left: 100px;
  float: right;
}
.food {
  background-color: white;
  background-size: 100%;
  display: block;
  width: 100px;
  height: 100px;
  left: 600px;
  top: 200px;
  position: absolute;
}

.avocado {
  background-image: url('/Users/matthewwallis/development/first-app/images/avocadoImage.png');
  background-color: inherit;
}

.bakedBeans {
  background-image: url('/Users/matthewwallis/development/first-app/images/bakedBeansImage.png');
  background-color: inherit;
}

.left {
  float: left;
  border: solid 3px green;
}

.right {
  float: right;
  border: solid 3px green;
  width: 25%;
}

.scoreboard {
  border: solid 1px green;
}

.houseBuilder {
  border: solid 1px green;
}

.scores {
  border: solid 1px green;
}

.faces {
  font-size: 600%;
}

.house {
  font-size: 50%;
  text-align: center;
  height: 120px;
}

.copyright{
  float: right;
}

.instructions {
  position: absolute;
  margin: 0 auto;
  top: 15%;
  left: 15%;
  height: 70%;
  width: 70%;
  border: solid 5px green;
  background-color: #e9f1c3;
  color: grey;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
  padding: 2%;
}

p.instructionsDetail {
  color: grey;
  text-align: center;
  font-size: 75%;
  font-weight: normal;
}


.hide {
  display: none;
}

.playerName {
  color: #e6e2e2;
}

.levels {
  height: 50px;
}

.start {
  position: absolute;
  left: 40%;
  bottom: 5%;
}
